<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <welcome-file-list>
            <welcome-file>
                login.html
            </welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>regServ</servlet-name>
        <servlet-class>com.issueTracker.web.servlet.mainServlet.RegServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>regServ</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logServ</servlet-name>
        <servlet-class>com.issueTracker.web.servlet.mainServlet.LogServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logServ</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>

</web-app>